

  <!-- <div class="sidebar h-[100vh]">
    <ul>
      <li *ngFor="let item of sidebarItems">
        <a [routerLink]="item.route" routerLinkActive="active">{{ item.label }}</a>
      </li>
    </ul>
  </div>  -->

  <!-- <div class="sidebar h-[100vh]">
    <ul>
      <li *ngFor="let item of sidebarItems" class="f-18"> -->
        <!-- Normal Menu Item without Submenu -->
        <!--  <a *ngIf="!item.submenu" class="cursor-pointer " [routerLink]="item.route" routerLinkActive="active" >
          {{ item.label }}
        </a> 
  
        
        <div *ngIf="item.submenu">
           <a  class="submenu-title cursor-pointer" (click)="toggleSubmenu(item)">
         
            <i class="icon" [ngClass]="item.isOpen ? 'bx bx-chevron-up' : 'bx bx-chevron-down '"></i>
            {{ item.label }}
          </a>
  
          <ul *ngIf="item.isOpen" class="submenu ">
            <li *ngFor="let subItem of item.submenu" class="subsidebar f-16">
              <a [routerLink]="subItem.route" routerLinkActive="active">
                {{ subItem.label }}
              </a>
            </li>
          </ul>
         
        </div>
      </li>
    </ul>
  </div> -->


  <div class="sidebar">
    <ul class="menu">
      <li *ngFor="let item of sidebarItems" [class.active]="item.isActive" class="f-18" routerLinkActive="active" >
        
        <!-- Main Menu Item -->

        <a class="submenu-title cursor-pointer text-balance line-clamp-1 full-name" (click)="toggleSubMenu(item)" [ngClass]="item.isActive ? 'active-item' : ''">
          <!-- Chevron Icon -->
          <i class="icon " [ngClass]="item.isOpen ? 'bx bx-chevron-up' : 'bx bx-chevron-down'"></i>
             {{ item.label }}
           </a>
        
        <!-- Submenu -->
        <ul  *ngIf="item.isOpen" class="submenu">
          <li *ngFor="let subItem of item.submenu"  class="subsidebar f-16" routerLinkActive="active">
            <a [routerLink]="subItem.route"  (click)="setActive(subItem)" [ngClass]="subItem.isActive ? 'active-item' : ''">
              {{ subItem.label }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>





  
  

  
  
  
  