
  .sidebar li a.active {
    /* background-color: #34495e;  */
      background-color: #34495e7d;
     
  }

  a.active {
    color: #fff; 
   
  }
.f-18{
  font-size: 18px;
}
.f-16{
  font-size: 16px;
}

  /* Style for the icon */
.icon {
  margin-right: 8px; 
  cursor: pointer;    
}

.submenu-title{
  padding-left:15px
}
li.subsidebar{
  padding-left:30px
}

.submenu {
  z-index: 1;
} 


  @media (min-width:768px) and (max-width:1023px){
    .sidebar{
      height: 170vh !important;
    }
  }  


  /* Sidebar Styles */
.sidebar {
  /* width: 250px;
  height: 100%; 
   background-color: #333;
  color: #fff; 
  position: fixed;
  top: 0;
  left: 0; 
   padding-top: 20px;
  overflow-y: auto; */
  width: 250px;
  background-color: var(--theme2-color);
  color: white;
  /* padding-top: 20px; */
  height: 130vh !important;

}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu > li {
  /* padding: 10px 15px; */
  cursor: pointer;
  position: relative;
}

.submenu {
  list-style-type: none;
  /* padding-left: 20px; */
  padding-left:15px;
  padding-top:5px !important
  /* background-color: #555; */
  /* display: none; */
  /* margin-top: 5px; */
}

.submenu li {
  /* padding: 8px 10px; */
  cursor: pointer;
 
}

.submenu li a {
  color: #fff;
  text-decoration: none;
}


.menu > li.active .submenu {
  display: block; 
  
  
} 


:host ::ng-deep .submenu li.active {
  background-color: #34495e7d; /* Add your desired active background color */
  color: white;
}


a.submenu-title:hover{
  display: block;
 
}