

  <!-- <div class="sidebar h-[100vh]">
    <ul>
      <li *ngFor="let item of sidebarItems">
        <a [routerLink]="item.route" routerLinkActive="active">{{ item.label }}</a>
      </li>
    </ul>
  </div>  -->

  <div class="sidebar h-[100vh]">
    <ul>
      <li *ngFor="let item of sidebarItems" class="f-18">
        <!-- Normal Menu Item without Submenu -->
        <a *ngIf="!item.submenu" class="cursor-pointer " [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [class.active]="item.isActive">
          {{ item.label }}
        </a>
  
        <!-- Menu Item with Submenu (with icon to toggle) -->
        <div *ngIf="item.submenu">
          <!-- href="javascript:void(0)" -->
          <a  class="submenu-title cursor-pointer" (click)="toggleSubmenu(item)">
            <!-- Display icon if submenu exists -->
            <!-- <i class='bx bx-chevron-down'></i> -->
            <i class="icon" [ngClass]="item.isOpen ? 'bx bx-chevron-up' : 'bx bx-chevron-down '"></i>
            {{ item.label }}
          </a>
  
          <!-- Show submenu if it's open -->
          <ul *ngIf="item.isOpen" class="submenu">
            <li *ngFor="let subItem of item.submenu" class="subsidebar f-16">
              <a [routerLink]="subItem.route" routerLinkActive="active">
                {{ subItem.label }}
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  
  
  