.sidebar {
    width: 250px;
    background-color: var(--theme2-color);
    color: white;
    padding-top: 20px;
    height: 130vh !important;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 7px;
  }
  
  .sidebar li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
  }
  
  .sidebar li a.active {
    background-color: #34495e;
  }
  
  @media (min-width:768px) and (max-width:1023px){
    .sidebar{
      height: 170vh !important;
    }
  }