body{
    background: var(--secondary-color) !important;
    height: 100%;
    overflow: hidden !important;
    /* background-image: url('backround-theme.svg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.body{
    overflow: hidden;
}
th {
    background-color: #d9d9d9;
}
td{
    background-color: #2a3f54;
    color: white;
    padding: 5px;
}
.p-datatable-striped tbody tr {
    border-bottom: 1px solid #ddd; /* Row ke neeche divider ke liye */
}

::ng-deep .p-datatable .p-datatable-body {
    max-height: 300px;  /* Set a max height */
    overflow: auto;     /* Enable scrolling */
  }
  ::ng-deep .p-datatable-scrollable-header {
    position: sticky;
    top: 0;
    z-index: 2;  /* Higher z-index to ensure the header stays above the body */
  }
  .table-container {
    overflow: auto; /* Allow scroll for container */
    width: 100%; /* Ensure container uses full width */
  }
.card{
    background-color: var(--theme-color);
    width: 100vh !important;
    /* height: 65vh !important; */
    height: max-content !important;
    padding: 30px;
    border: none;
}
:host ::ng-deep /deep/ span.p-element.p-dropdown-label.p-inputtext.p-placeholder.ng-star-inserted{
    padding: 5px !important;
    padding-left: 15px !important;
}
 :host ::ng-deep  /deep/  input.p-inputtext.p-component.p-element{
    padding: 5px !important;
    border-radius: 22px !important;
    padding-left: 15px !important;
    outline:none !important;
    box-shadow: none !important;
    width: 100% !important;
}

.btn{
    background-color: var(--tertiary-color);
    width: 150px;
    height: 40px;
    margin-top: 30px;
}

:host ::ng-deep .dropdown{
    border-radius: 22px !important;
    outline:none !important;
    width: 100% !important;
    padding: 0px !important;
    box-shadow: none !important;
}

::ng-deep .p-dropdown {
    border-radius: 22px !important;
    outline:none !important;
    width: 100% !important;
    padding: 0px !important;
    box-shadow: none !important;
}

::ng-deep .p-inputtext::placeholder {
    color: #6b7280;  /* Set the desired color */
}

::ng-deep p-button.p-element.btn.text-white:active{
    background-color: var(--theme-color);
}

::ng-deep button.p-ripple.p-element.p-button.p-component{
    box-shadow: none !important;
}

@media (min-width:768px) and (max-width:1024px) {
    
    .card{
        width:90vh !important
    }
}