
<p-table [value]="updatedData"  styleClass="p-datatable-striped"  [scrollable]="true"
[tableStyle]="{'min-width': '30rem',}" [responsive]="true" stickyHeader="true" scrollHeight="300px">
    <ng-template pTemplate="header">
      <tr>
        <th>Brand</th>
        <th>File Type</th>
        <th>File Name</th>
        <th>Column Name</th>
        <th>Sequence</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr class="">
          No data available
        </tr>
      </ng-template>
    <ng-template pTemplate="body" let-row>
        
      <tr>
        <td>{{row.brand_name}}</td>
        <td>{{row.fileTypeName}}</td>
        <td>{{row.file_name}}</td>
        <td>{{ row.columnName }}</td>
        <td>{{ row.sequence }}</td>
      </tr>

    </ng-template>
    
  </p-table>
    <div class="d-flex w-full justify-content-end mt-3">
        <!-- <p-button type="button" label="Cancel" icon="pi pi-times" class="me-3 text-white" (onClick)="closeDialog({ buttonType: 'Cancel' })" /> -->
        <!-- icon="pi pi-check" -->
        <p-button type="button" label="Ok"  (onClick)="closeDialog({ buttonType: 'Ok' })"  class="text-white"/>
    </div>
  