<div class="h-[100vh] w-[100vw]  overflow-hidden">
   
    <p-toast position="top-center"></p-toast>
    <p-blockUI [blocked]="isLoading">
        <i class='bx bx-loader-circle fa-spin custom-icon fa-spinner'></i>
    </p-blockUI>
    <div>
      <img
      src="Background_image.png"
      alt="Background"
      class=" w-full h-full object-cover -z-10 fixed"
    />
      <app-header></app-header>
  </div>
  <div class="body d-flex">
   
    <div class="h-[100vh]">
        
        <app-sidebar class="h-[100vh]"></app-sidebar>
    </div>
    <div class="w-[100vw]">

        <div class="flex justify-center">
            <div
        class="flex flex-row w-[100vw] md:w-[65vw] sm:w-[65vw] lg:w-[63vw]  !py-3 !px-5 justify-between"
      >
        <h3 class="font-semibold text-base text-md md:text-xl ">
          View & Edit Roles
        </h3>
        </div>
        </div>
        <div class="flex justify-center " style="width: 100%; overflow-x: auto;">
           <div class="card p-3   w-[100vw] w-[80vw] h-auto  md:w-[60vw] bg-[#FDF5E6] rounded-lg shadow-lg">

               <p-table 
       styleClass="p-datatable-striped"
           [scrollHeight]="'300px'"
            [scrollable]="true"
            responsiveLayout="scroll"
            [scrollable]="true"
           [value]="roles"
           [paginator]="true"
           [rows]="20"
           styleClass="{width:100%}"
           class="bg-white   !rounded-lg border !h-auto  border-gray-200 shadow-md"
      >
       <ng-template pTemplate="header">
           <tr>
               <th>Role Name</th>
               <th class="text-center">SIMS</th>
               <th class="text-center">AUDIT</th>
               <th class="text-center">GAINER</th>
               <th class="text-center">IT</th>
               <th class="text-center">HR</th>
               <th class="text-center">OTHERS</th>
               <th class="text-center">Action</th>
               <th class="text-center">Delete</th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-role let-i="rowIndex">
           <tr [class.selected]="selectedRow === i">
               <td>{{role.name}}</td>
               <td class="text-center">
                   <p-checkbox 
                       [(ngModel)]="role.sims" 
                       (onChange)="updateRoleState(role, 'sims', $event)"
                      
                       binary="true">
                       <!-- [disabled]="selectedRow !== i" -->
                   </p-checkbox>
               </td>
               <td class="text-center">
                   <p-checkbox 
                   binary="true"
                       [(ngModel)]="role.audit" 
                       (onChange)="updateRoleState(role, 'audit', $event)"
                       >
                       <!-- [disabled]="selectedRow !== i" -->
                   </p-checkbox>
               </td>
               <td class="text-center">
                   <p-checkbox 
                   binary="true"
                       [(ngModel)]="role.gainer" 
                       (onChange)="updateRoleState(role, 'gainer', $event)"
                      >
                      <!-- [disabled]="selectedRow !== i" -->
                   </p-checkbox>
               </td>
               <td class="text-center">
                   <p-checkbox 
                   binary="true"
                       [(ngModel)]="role.it" 
                       (onChange)="updateRoleState(role, 'it', $event)"
                       >
                       <!-- [disabled]="selectedRow !== i" -->
                   </p-checkbox>
               </td>
               <td class="text-center">
                   <p-checkbox 
                   binary="true"
                       [(ngModel)]="role.hr" 
                       (onChange)="updateRoleState(role, 'hr', $event)"
                      >
                      <!-- [disabled]="selectedRow !== i" -->
                   </p-checkbox>
               </td>
               <td class="text-center">
                   <p-checkbox 
                   binary="true"
                       [(ngModel)]="role.other" 
                       (onChange)="updateRoleState(role, 'others', $event)"
                       >
                       <!-- [disabled]="selectedRow !== i" -->
                   </p-checkbox>
               </td>
               <td class="text-center">
                   <i class="bx bx-edit cursor-pointer" (click)="editRow(i)"></i>
               </td>
               
                   <!-- <button pButton type="button" label="Update" class="btn-submit cursor-pointer" [disabled]="selectedRow !== i || !isSubmitEnabled" (click)="submit(role,role.id)"></button> -->
                   <td class="p-2"><mat-slide-toggle 
                     
                    [ngModel]="setToggleState(role)" 
                    (ngModelChange)="onStatusChange(role,role.status)">
                </mat-slide-toggle></td>
                  
            
           </tr>
           <tr class="text-center" *ngIf="role.showErrorMessage">
            <td colspan="8" class="text-center">
                <div class="text-red-500 mt-1" style="font-size: 12px;">
                    One of the business verticals must be selected!
                </div>
            </td>
           </tr>
       </ng-template>
   </p-table>
           </div>
          </div>
  </div>

  <p-dialog header="Edit Role" [modal]="true" [(visible)]="visible" [style]="{ width: '80%' }">
    <div
    class="card w-[80vw] h-auto md:w-[80vw] flex flex-col justify-start p-3 bg-[#FDF5E6] rounded-lg shadow-lg">
    <p-table
    styleClass="p-datatable-striped"
      [scrollHeight]="'280px'"
       [scrollable]="true"
       [paginator]="true"
    [rows]="15"
      [value]="roles"
      class="bg-white w-full !rounded-lg border !h-[50vh]  border-gray-200 shadow-md"
    >
      <!-- Table Header -->
      <ng-template  pTemplate="header">
        <tr class="bg-gray-200 text-gray-700 text-sm font-semibold">
          <th class=" text-left">Business Vertical</th>
          <th class=" text-left">Module</th>             
          <th class=" text-left">Sub Module</th>
          <th class=" text-left">View</th>
          <th class=" text-left">Edit</th>
          <th class=" text-left">Add</th>
          <th class=" text-left">Delete</th>
          <th class=" text-left">All</th>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template pTemplate="body" let-customer>
        <tr
          class="hover:bg-gray-100 transition duration-300 p-[10px] text-gray-700 text-sm h-14"
        >
        <td class="!p-3 text-left">SIMS</td>
          <td class="!p-3 text-left">{{ customer.name }}</td>
          <td class="!p-3 text-left">{{ customer.industry }}</td>
          <td class="!p-3 text-center"> <p-checkbox 
            value="view"/></td>
         
          <td class="!p-3 text-center"> <p-checkbox 
            value="edit"/></td>
          <td class="!p-3 text-center"> <p-checkbox 
            value="add "/></td>
          <td class="!p-3 text-center"> <p-checkbox 
            value="delete"/></td>
            <td class="!p-3 text-center"> <p-checkbox 
              value="all"/></td>
        </tr>
      </ng-template>
    </p-table>



</div>
</p-dialog>
