.app-header {
    background-color: var(--theme-color);
    padding: 4px;
    color: white;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .button.is-danger {
    background-color: #FF4C4C;
    color: white;
  
  }
  :host ::ng-deep  button.p-ripple.p-button.p-component.p-button-icon-only.p-button-rounded {
    background-color: var(--theme2-color);
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
  