:host ::ng-deep input.p-inputtext.p-component.p-element.p-variant-filled:focus{
    
    outline: none;
    box-shadow: none;
}
.btn-submit{
    background-color: var(--theme-color);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}