:root{
    --theme-color:#34495e !important;
    --theme2-color: #5a9fa3 !important;
    --secondary-color:#f2f2f2 !important;
    --tertiary-color:#2f667f !important
}

.text-white{
    font:white;
}

.f-18{
    font-size: 18px !important;
}

.custom-icon {
    position: absolute;
    font-size: 3rem;
    color: #ccc; /* You can adjust the color */
    animation: spin 1s infinite linear;
}